<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/bootstrap/css/bootstrap-paper.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/jquery-ui.min.js"></script>
  <script src="../../../../css/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../css/style.css">
  <link rel="stylesheet" href="../../../../admin/dhcpadmin.css">
</head>

<body>
<header class="">
  <nav class="navbar navbar-default navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"></div>
    </div>


    <div id="gmenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right ">
<<START_TAB>>
<li class="<<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><<NAME>></a></li>
<<END_TAB>>
<li class=""><a href="#" onClick="dgpSubmit('../../../dhcpadmin_logout.php')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid fix-padding">
  </div>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2">
      <div class="panel panel-default">
        <ul class="list-group">
<<START_MENU>>
<a class="list-group-item  <<ACTIVE>>" href="#"	onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
<<END_MENU>>
        </ul>
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-10">
      <!-- エラーメッセージ -->

      <!-- メインコンテンツ -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">サブネット管理</h3>
        </div>
        <div class="ErrorMessage"></div>
        <div class="panel-body">
          <!-- フォーム -->
          <div class="col-sm-12">
            <form class="form-horizontal" method="POST" action="mod.php" name="data_form">
              <div class="form-group well">

<<MESSAGE>>
                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">サブネット</label>
                  <div class="col-sm-8">
                    <<SUBNET>>
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">ドメイン名</label>
                  <div class="col-sm-8">
                    <input type="text" maxlength="128" class="form-control" name="domainname" value="<<DOMAINNAME>>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">標準リース時間</label>
                  <div class="col-sm-8">
                    <input type="text" maxlength="8" class="form-control" name="leasetime" value="<<LEASETIME>>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">最大リース時間</label>
                  <div class="col-sm-8">
                    <input type="text" maxlength="8" class="form-control" name="maxleasetime" value="<<MAXLEASETIME>>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">DNSサーバアドレス</label>
                  <div class="col-sm-8">
                    <input type="text" maxlength="399" class="form-control" name="dnsserver" value="<<DNS>>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">Extraオプション</label>
                  <div class="col-sm-8">
                    <textarea  rows="4" cols="48"  maxlength="512" class="form-control" name="exoption"><<OPTION>></textarea>
                  </div>
                </div>
              </div>

              <!-- ボタン -->
              <div class="form-group">
                <div class="col-sm-12">
                  <<SK>>
                  <input type="hidden" name ="subnet_update" value="<<SUBNET>>">
                  <button type="submit" name="addition" value="" class="btn btn-primary">登録</button>
                  <button type="submit" name="back" value="" class="btn btn-primary">戻る</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer nav navbar-default">
    <nav class="pull-right">
      <div class="navbar-brand"></div>
    </nav>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
