Subject: CSVファイル自動読み込み:NG

CSVファイル自動読み込みでエラーが発生しました。

プロセス名:             {$PROCESS_NAME}
エラー発生日時:         {$EXE_TIME}
システムエラーメッセージ:       {$ERROR_MSG}
{$START_LOOP_CSV}
CSVファイル名:          {$CSV_FILENAME}
CSVのエラーメッセージ:  {$CSV_ERROR}
内容:
{$CSV_CONTENT}

{$END_LOOP_CSV}

