Subject: CSVファイル自動読み込み:OK

CSVファイル自動読み込みに成功しました。

プロセス名:             {$PROCESS_NAME}
実行時間:               {$EXE_TIME}
{$START_LOOP_CSV}
CSVファイル名:          {$CSV_FILENAME}
内容: 
{$CSV_CONTENT}

{$END_LOOP_CSV}
